.wy-nav-content {
    max-width: 1200px !important;
    /* max-width: none; */
}

.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal;
}

.cpp.enum-class>.sig.sig-object.cpp {
    font-size: 120% !important;
}

.cpp.function>.sig.sig-object.cpp {
    font-size: 120% !important;
}

.cpp.class>.sig.sig-object.cpp {
    font-size: 120% !important;
}

.api-table-func-separator {
    line-height: 1px;
    border-bottom: 1px solid rgb(222, 228, 240);
    margin: 0px;
    padding: 0px;
}

.api-table-func-return {
    text-align: right;
    /* width: 250px;*/
    /* max-width: 20%; */
    white-space: nowrap;
    padding-right: 7px;
}

.api-table-func-brief {
    color: #8b8484;
}

.api-table-func-url {
    font-weight: bold;
}

.rst-content .admonition-not-thread-safe {
    background: #fdf3f2;
}

.admonition-not-thread-safe .admonition-title {
    background: #f29f97;
}


/* .wy-menu-vertical ul:last-of-type {
    border-top: solid white 1px;
    margin-top: 10px;
} */


/* Hide "Edit On GitHub" and versions menu */

div.rst-versions {
    display: none;
}