.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal;
}

.api-table-func-separator {
    line-height: 1px;
    border-bottom: 1px solid rgb(222, 228, 240);
    margin: 0px;
    padding: 0px;
}

.api-table-func-return {
    text-align: right;
    width: 20%;
    padding-right: 7px;
}


/* .wy-menu-vertical ul:last-of-type {
    border-top: solid white 1px;
    margin-top: 10px;
} */